:root {
    --gray: #f0f0f0;
    --dark-gray: #d0d0d0;
    --border-radius: 8px;
}

body {
    font-family: 'Roboto Variable', sans-serif;
}

input[type="file"] {
    width: 70px;
    overflow: hidden;
    margin-right: .5rem;
}

.accordion-header {
    margin: 0;
    border-radius: var(--border-radius);
    display: flex;
    gap: 1rem;
    font-weight: bold;
    padding: .5rem;
    background-color: var(--dark-gray);
    font-size: 1.4rem;

    &.step {
        background-color: var(--gray);
    }

    label {
        cursor: pointer;

        input {
            margin-right: .5rem;
        }
    }
}

.accordion-item {
    padding: .5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.field {
    padding: .5rem;
}

.label {
    font-weight: bold;;
}

.step {
    border: 1px solid gray;
    padding: 0 .5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;

    .results {
        padding: 1rem;
        background-color: #ffe9e9;
    }
}